<footer>
<!--
  <div class="footer-social">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="positioning-header primary-color light">Follow us!</h2>
        <ul class="list-inline list-unstyled">
          <li><a href="#"><i class="fa fa-hexagon-twitter-o fa-5x fa-social"></i></a></li>
          <li><a href="#"><i class="fa fa-hexagon-linkedin-o fa-5x fa-social"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->
  <div class="footer-links">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="//assetsvitalbase.s3.amazonaws.com/img/vitalbase-baseline-logo.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 class="footer-header">About</h4>
          Vitalbase team keeps working hard at developing innovative IoT solutions, offering to people the highest level of freedom and independence as possible in all parts of their life.
        </div>
        <div class="col-md-2 col-md-offset-1">
          <ul class="list-unstyled">
            <h4 class="footer-header">Products</h4>
            <li><a href="{{site.url}}/products/vibby-oak">Vibby OAK</a></li>
            <li><a href="{{site.url}}/products/vibby-leaf">Vibby LEAF</a></li>
          </ul>

        </div>
        <div class="col-md-4">
          <h4 class="footer-header">Contact</h4>
          <address>
            2, bis rue Nully de Harcourt<br>
            33610 CANEJAN (FRANCE)<br>
            contact@vitalbase.co.uk<br>
            +33 557 356 370
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>©Telecom Design 2016</p>
        </div>
      </div>
    </div>
  </div>

</footer>
