<section class="positioning section-basic section-basic-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-head-classic">
          <h2 class="section-title">Vitalbase</h2>
        </div>
        <div class="section-description">
          <p>Develops, manufactures and markets innovative solutions for health.</p>
          <p>Vitalbase has been working for <strong>more than 10 years</strong> at improving the <strong>protection</strong> and the <strong>independence</strong> of frail people.</p>
          <p>Longtime leader in the European market with the <strong>first automatic wrist and neck-worn detector</strong> ever developed, Vitalbase has already deployed in Europe <strong>more than 300 000 pieces</strong> of the previous generation “VBC 3”.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning  fa-hexagon-10years-o-en fa-5x"></i>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning fa-hexagon-vitalbase-o fa-5x"></i>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning fa-hexagon-vibbyoak-o fa-5x"></i>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="positioning-highlight">
          <i class="fa fa-positioning fa-hexagon-300-o fa-5x"></i>
        </div>
      </div>
    </div>
    </div>
  </section>
